.star_gold {
    display: inline-block;
    height: 20px;
    background-image: url("/images/star-gold.png");
    background-repeat: repeat;
    background-position: left;
    background-size: contain;
}

.star{
    display: inline-block;
    height: 20px;
    background-image: url("/images/star.png");
    background-repeat: repeat;
    background-position: left;
    background-size: contain;
}